* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #f0f0f0;
}

#main {
    width: 100%;
    min-height: 100vh;
}

.top {
    width: 100%;
    min-height: 60vh;
    background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fGZpcnN0JTIwY29tcGFueXxlbnwwfHx8fDE2ODQ5NTY1MjA&ixlib=rb-4.0.3&q=80&w=1080');
    background-size: cover;
    background-position: center;
}

.top .overlay {
    position: relative;
    width: 100%;
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.295);
}

.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 0 10vh;
    color: whitesmoke;
    bottom: 5%;
}

.text h1 {
    font-size: 4vw;
    font-weight: 700;
    text-align: center;
}

.rtext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 25%;
}

.rtext p {
    font-size: 12px;
    font-weight: 700;
}

.icons i {
    margin: 0 10px;
    font-size: 20px;
    color: white;
}

.bottom {
    display: flex;
    width: 100%;
    min-height: 40vh;
}

.b1 {
    width: 30%;
    min-height: inherit;
    background-image: url('https://images.unsplash.com/photo-1566438480900-0609be27a4be?q=80&w=1894&auto=format&fit=crop&ixlib=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fGZpcnN0JTIwY29tcGFueXxlbnwwfHx8fDE2ODQ5NTY1MjA&ixlib=rb-4.0.3&q=80&w=1080');
    background-size: cover;
    background-position: center;
}

.b1 h1 {
    text-align: center;
    padding: 30px;
}

.b1 p {
    text-align: center;
    padding: 15px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}

.b2 {
    width: 30%;
    min-height: inherit;
    display: flex;
    flex-direction: column;
}

.b2 .up {
    width: 100%;
    min-height: 20vh;
    background-image: url('https://images.unsplash.com/photo-1560315925-4f698336e401?q=80&w=1069&auto=format&fit=crop&ixlib=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fGZpcnN0JTIwY29tcGFueXxlbnwwfHx8fDE2ODQ5NTY1MjA&ixlib=rb-4.0.3&q=80&w=1080');
    background-size: cover;
    background-position: center;
}

.b2 .up h1 {
    text-align: center;
    padding: 30px;
}

.b2 .up p {
    text-align: center;
    padding: 15px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}

.b2 .down {
    width: 100%;
    min-height: 20vh;
    background-image: url('https://images.unsplash.com/photo-1613160058184-8fc2487dbf10?q=80&w=2070&auto=format&fit=crop&ixlib=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fGZpcnN0JTIwY29tcGFueXxlbnwwfHx8fDE2ODQ5NTY1MjA&ixlib=rb-4.0.3&q=80&w=1080');
    background-size: cover;
    background-position: center;
}

.b2 .down .overlay {
    position: relative;
    width: 100%;
    min-height: 20vh;
    background-color: rgba(225, 225, 225, 0.344);
}

.b3 {
    width: 40%;
    min-height: inherit;
    background-image: url('https://images.unsplash.com/photo-1586769852836-bc069f19e1b6?q=80&w=1070&auto=format&fit=crop&ixlib=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fGZpcnN0JTIwY29tcGFueXxlbnwwfHx8fDE2ODQ5NTY1MjA&ixlib=rb-4.0.3&q=80&w=1080');
    background-size: cover;
    background-position: center;
}

.b3 .overlay {
    justify-content: right;
    position: relative;
    margin-left: 50%;
    width: 50%;
    height: 100%;
    padding: 4vh 3vh;
}

.b3 .overlay p {
    padding: 1.2vh;
}

/* Responsive */

@media(max-width: 1200px) {
    .rtext {
        flex-direction: column;
        padding: 0 5vh;
    }
    .b3 .overlay {
        width: 100%;
        margin-left: initial;
    }
}

@media(max-width: 500px) {
    .text {
        flex-direction: column;
        align-items: flex-start;
    }
    .text h1 {
        font-size: 5vh;
    }
    .text .image {
        width: 140px;
        height: 200px;
        margin-top: 20px;
    }
    .rtext {
        flex-direction: column;
        align-items: flex-start;
    }
    .rtext p {
        margin-top: 10px;
    }
    .icons {
        margin-top: 10px;
    }
    .bottom {
        flex-direction: column;
        align-items: flex-start;
    }
    .b1 {
        width: 100%;
        min-height: 30vh;
    }
    .b2 {
        width: 100%;
    }
    .b2 .up {
        min-height: 40vh;
    }
    .b3 {
        width: 100%;
        min-height: 30vh;
        background-position: left;
    }
}
